{% extends 'base.html' %}
{% load static %}

{% block description %}
<meta name="description" content="{{ description }}"/>
{% endblock description %}

{% block css %}{% endblock  %}

{% block styles %}
<style>
    .breadcrumb-bg {
        background-image: url({{ cast_one.photo_banner.url }});
    }
</style>
{% endblock %}
    
{% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>{{ cast_one.title_banner }}</p>
                    <h1>{{ cast_one.subtitle_banner }}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<br /><br />
<div class="container mt-5 text-center">
    <h2 class="pb-5">{{ cast_one.title_list1 }}</h2>
    <h3 class="pb-5">{{ cast_one.title_list2 }}</h3>
    <h4 class="pb-5">Прейскурант цен на литье:</h4>

    <p>
        {{ cast_one.list1 }}
		<hr>
        {{ cast_one.list2 }}
		<hr>
        {{ cast_one.list3 }}
		<hr>
        {{ cast_one.list4 }}
		<hr>
	</p>
</div>

<div class="container mt-100">
    <h3 class="text-center pb-3">Фото литья драгоценных и цветных металлов</h3>
    <div class="row">
		{% for i  in cast_foto %}
		<div class="col-lg-3 p-1">
            <a href="{{ i.photo.url }}" target="_blank">
				<img style="width: 276px; height: 186px" class="rounded rounded-2" src="{{ i.photo.url }}" alt="">
			</a>
        </div>
		{% endfor %}
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}