{% extends 'base.html' %}
{% load static %}

{% block description %}
<meta name="description" content="{{ description }}"/>
{% endblock description %}

{% block css %}{% endblock  %}

{% block styles %}
<style>
    {% if models.photo_banner %}
    .breadcrumb-bg {
        background-image: url({{ models.photo_banner.url }});
    }
    {% endif %}
</style>
{% endblock %}
    
{% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    {% if models.title_banner %}
                    <p>{{ models.title_banner }}</p>
                    {% endif %}

                    {% if models.subtitle_banner %}
                    <h1>{{ models.subtitle_banner }}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<br /><br />
<div class="container mt-5 text-center">
    {% if models.title_list1 %}<h3 class="pb-5">{{ models.title_list1 }}</h3>{% endif %}
    
    {% if models.title_list2 %}<h5 class="pb-5">{{ models.title_list2 }}</h5>{% endif %}

    <p>
        {% if models.list1 %}{{ models.list1 }}<hr>{% endif %}
        {% if models.list2 %}{{ models.list2 }}<hr>{% endif %}
        {% if models.list3 %}{{ models.list3 }}<hr>{% endif %}
        {% if models.list4 %}{{ models.list4 }}<hr>{% endif %}
        {% if models.list5 %}{{ models.list5 }}<hr>{% endif %}
	</p>

    <p>
        {% if models %}
        {{ models.desc|linebreaks }}
        {% endif %}
    </p>
</div>

<div class="container mt-100">
    <h3 class="text-center pb-3">Фото 3D Модели</h3>
    <div class="row">
		{% for i  in models_foto %}
		<div class="col-lg-3 p-1">
            <a href="{{ i.photo.url }}" target="_blank">
				<img style="width: 276px; height: 186px" class="rounded rounded-2" src="{{ i.photo.url }}" alt="">
			</a>
        </div>
		{% endfor %}
    </div>
</div>

<div style="margin-top: 100px" class="latest-news mt-50 mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3 style="font-weight: bold; font-size: 30px">Видео 3D Модели</h3>
                </div>
            </div>

            {% comment %} {% if models_video  %} {% endcomment %}
            {% for i in models_video %}
            <div class="col-lg-4 col-md-6 pl-2">
                <div class="single-latest-news">
                    <a class="p-2" href="{{ i.link_service }}">
                        <iframe src="{{ i.link_frame_video }}" width="{{ i.width_video }}" height="{{ i.height_video }}" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
                    </a>
                    <div class="news-text-box">
                        <h3><a href="{{ i.link_service }}">{{ i.title_video }}</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> {{ i.author }}</span>
                            <span class="date"><i class="fas fa-calendar"></i> {{ i.time_create|date:"d-m-Y" }}</span>
                        </p>
                        <p class="excerpt">{{ i.text_video }}</p>
                        <a href="{{ i.link_service }}" class="read-more-btn">Смотреть на сервисе <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% comment %} {% endif %} {% endcomment %}
        </div>   
    </div>
</div>

{% endblock %}

{% block script %}

{% endblock %}