{% extends 'base.html' %}
{% load static %}

{% block description %}
<meta name="description" content="{{ description}}"/>
{% endblock description %}

{% block css %}
<link rel="stylesheet" href="{% static "/assets/css/" %}">
{% endblock  %}

{% block styles %}
<style>
    .breadcrumb-bg {
        background-image: url({% static "assets/img/about-bg.png" %});
    }
</style>
{% endblock %}
    
{% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Кольца, перстни, печатки</p>
                    <h1>Уникальные кольца, перстни, печатки из драгметалла</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="container marketing">

    <!-- START -->

    <div class="col-lg-12 text-center mt-5 pt-3">
        <h2>Кольца, перстни, печатки на заказ</h2>
    </div>

    
    <div class="col-lg-12 text-center mt-5 pt-3">
        <h2>Мужские перстни, печатки</h2>
    </div>

    {% for i in rings %}
    {% if i.man %}
    <br /><br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette">
        {% if i.position %}
        <div class="col-md-7 order-md-2">
        {% else %}
        <div class="col-md-7">
        {%  endif %}
        <h3 class="featurette-heading">{{ i.title }} <span class="text-muted"> {{ i.subtitle }} </span> </h3>
        <p style="font-size: 14px" class="lead">{{ i.content }}</p>
      </div>

        <div class="col-md-5 rounded rounded-6">
            <a rel="nofollow" target="_blank" href="{{ i.photo.url }}">
                <img class="rounded rounded-6" src="{{ i.photo.url }}" alt="{{ i.title }}">
            </a>
        </div>
    
    </div>
    {% endif %}
    {% endfor %}

    <div class="col-lg-12 text-center mt-5 pt-3">
        <h2>Женские кольца, перстни</h2>
    </div>
    
    {% for i in rings %}
    {% if i.women %}
    <br /><br />
    <hr class="featurette-divider">
    <br />
    <div class="row featurette">
        {% if i.position %}
        <div class="col-md-7 order-md-2">
        {% else %}
        <div class="col-md-7">
        {%  endif %}
        <h3 class="featurette-heading">{{ i.title }} <span class="text-muted"> {{ i.subtitle }} </span> </h3>
        <p style="font-size: 14px" class="lead">{{ i.content }}</p>
      </div>

        <div class="col-md-5 rounded rounded-6">
            <a rel="nofollow" target="_blank" href="{{ i.photo.url }}">
                <img class="rounded rounded-6" src="{{ i.photo.url }}" alt="{{ i.title }}">
            </a>
        </div>
    
    </div>
    {% endif %}
    {% endfor %}

    <!-- /END ОСОБЕННОСТИ -->

  </div><!-- /.container -->


{% endblock %}

{% block scripts %}

{% endblock %}