@font-face{
    font-family:Roboto;font-display:swap;src:url(../fonts/Roboto-Medium.woff2) format("woff2"),url(../fonts/Roboto-Medium.woff) format("woff");
    font-weight:500;font-style:normal
}
@font-face{font-family:Roboto;
    font-display:swap;src:url(../fonts/Roboto-Regular.woff2) format("woff2"),url(../fonts/Roboto-Regular.woff) format("woff");
    font-weight:400;font-style:normal
}
*{padding:0;margin:0;border:0
}*,:after,:before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}body,html{
    height:100%;
    min-width:320px
}body{
    color:#4a4a4a;line-height:1;
    font-family:Roboto,sans-serif;
    font-size:.875rem;-ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
button,input,textarea{
    font-family:Roboto,sans-serif;font-size:inherit
}
button{
    cursor:pointer;color:inherit;
    background-color:inherit
}
a{
    color:inherit
}
a:link,a:visited{
    text-decoration:none
}a:hover{
    text-decoration:none
}
ul li{
    list-style:none
}img{
    vertical-align:top
}h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
    font-size:inherit
}
.lock body{
    overflow:hidden;
    -ms-touch-action:none;
    touch-action:none
}
.wrapper{
    min-height:100%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    overflow:hidden
}
.wrapper>main{
    -webkit-box-flex:1;
    -ms-flex:1 1 auto;
    flex:1 1 auto
}
.wrapper>*{
    min-width:0
}
[class*=__container]{
    max-width:73.125rem;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    margin:0 auto;
    padding:0 .9375rem
}
.page{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
#firstMessage{
    display:none
}
.chat{
    position:relative;
    text-align:center;
    width:100%;
    height:100vh;
    background:#f5f5f5
}
.chat[data-theme=dark]{
    background:#2e2b2b
}
.chat[data-theme=dark] 
.chat__date,.chat[data-theme=dark] 
.chat__title{color:#c9c9c9}
.chat[data-theme=dark] 
.chat-message{
    background-color:#c9c9c9;color:#000
}
.chat-body{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    gap:20px
}
.chat-body:not(:last-child){
    margin:0 0 65px 0
}
.chat-message{
    background:#fff;
    -webkit-box-shadow:0 5px 13px rgba(0,0,0,.14);
    box-shadow:0 5px 13px rgba(0,0,0,.14);
    border-radius:10px;
    padding:12px;
    text-align:left
}
.chat-text{
    max-width:223px;
    white-space:pre-wrap;
    letter-spacing:.03em;line-height:1.1428571429
}
.chat-time{
    margin-top:6px;
    font-size:.75rem;
    line-height:1.1666666667;
    color:#7d3dcf;
    text-align:right
}
.chat-header{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.chat-user{
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
    -ms-flex-direction:row-reverse;
    flex-direction:row-reverse
}
.chat__wrapper{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    padding-right:30px;
    padding-left:30px;
    padding-bottom:30px;
    height:calc(100% - 200px);
    overflow-y:auto
}
.chat__title{
    padding-top:33px;
    font-size:1rem;
    line-height:1.1875;
    font-weight:500;
    letter-spacing:.02em;
    margin:0 0 17px 0
}
.chat__date{
    display:none;
    font-size:.75rem;
    line-height:1.1666666667;
    letter-spacing:.03em;
    text-transform:uppercase;
    margin:0 0 24px 0
}
.chat__input{
    position:absolute;
    max-width:768px;
    margin:0 auto;
    bottom:37px;
    left:10px;
    right:10px
}
.chat-bot__loading{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    gap:10px
}
.loading{
    width:8px;
    height:8px;
    background-color:#7d3dcf;
    border-radius:50%
}
.loading-2{
    -webkit-animation:loadingSphere 1.2s infinite .5s alternate;
    animation:loadingSphere 1.2s infinite .5s alternate;
    background-color:#c4c4c4
}
@-webkit-keyframes loadingSphere{0%{-webkit-box-ordinal-group:1;order:0}25%{-webkit-box-ordinal-group:2;order:1}50%{-webkit-box-ordinal-group:1;order:0}75%{-webkit-box-ordinal-group:0;order:-1}100%{-webkit-box-ordinal-group:1;order:0}}@keyframes loadingSphere{0%{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}25%{-webkit-box-ordinal-group:2;-ms-flex-order:1;order:1}50%{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}75%{-webkit-box-ordinal-group:0;-ms-flex-order:-1;order:-1}100%{-webkit-box-ordinal-group:1;-ms-flex-order:0;order:0}}
[class*=-ibg]{
    position:relative
}
[class*=-ibg] img{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    -o-object-fit:cover;
    object-fit:cover
}
[class*=-ibg_contain] img
{-o-object-fit:contain;
    object-fit:contain
}
.button:focus-visible,a:focus-visible{
    -webkit-transition:0s;
    -o-transition:0s;
    transition:0s;
    outline-offset:2px
}
.input-message{
    background:#7d3dcf;
    -webkit-box-shadow:0 5px 13px rgba(0,0,0,.21);
    box-shadow:0 5px 13px rgba(0,0,0,.21);
    border-radius:20px;
    line-height:1.1428571429;
    letter-spacing:.03em;width:100%;
    color:#fff;
    padding:18px 45px;
    outline:0
}
::-webkit-input-placeholder{
    color:#fff;
    opacity:1
}
::-moz-placeholder{
    color:#fff;opacity:1
}
:-ms-input-placeholder{
    color:#fff;opacity:1
}
::-ms-input-placeholder{
    color:#fff;opacity:1
}
::placeholder{
    color:#fff;opacity:1
}
:-ms-input-placeholder{
    color:#fff
}
::-ms-input-placeholder{
    color:#fff
}
.send-message{
    position:absolute;
    top:15px;color:#fff;
    right:20px;
    z-index:222
}
.send-icon{
    font-size:.625rem;
    display:block;
    width:25px;
    height:25px
}
.theme-switcher{
    position:absolute;
    top:12px;
    left:18px
}
.switcher{
    width:0;
    height:0;
    visibility:hidden
}
label{
    cursor:pointer;
    display:block;
    text-indent:-9999px;
    height:30px;
    width:60px;
    background-color:#f5f5f5;
    border-radius:50px;
    position:relative;
    border:2px solid #7d3dcf
}
label::after{
    position:absolute;
    content:"";
    width:23px;
    height:23px;
    border-radius:50px;
    background:url(../img/sun.svg) center/cover no-repeat;
    top:50%;
    left:5px;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    -webkit-transition:all .3s ease 0s;
    -o-transition:all .3s ease 0s;
    transition:all .3s ease 0s
}
#switcher:checked+label{
    border:2px solid #7d3dcf;
    background-color:#c4c4c4
}
#switcher:checked+label:after{
    background:url(../img/moon.svg) center/cover no-repeat;
    left:calc(100% - 25px)
}
@media (any-hover:hover){
    .send-icon:active{
        -webkit-transform:translate(2px,0);
    -ms-transform:translate(2px,0);
    transform:translate(2px,0)
    }
}